profiles {
    standard {
        process.executor = 'lsf'
        process.queue = 'short'
        process.cpus = 96 # reserve a single node for stable runtimes
    }
}

trace {
    enabled = true
    file = "reports/trace.txt"
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    file = "reports/flowchart.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

report {
    enabled = true
    file = "reports/report.html"
}
