trace {
    enabled = true
    file = "reports/trace-5-seq.txt"
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    file = "reports/flowchart-5-seq.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline-5-seq.html"
}

report {
    enabled = true
    file = "reports/report-5-seq.html"
}
